{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Movies' %}{% endblock %}
{% block content %}
<h3>{% trans 'Movies' %}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- TODO: Add table columns -->
      <th><b>Title</b></th>
      <th><b>Year</b></th>
      <th><b>Rated</b></th>
      <th><b>Released on</b></th>
      <th><b>Genre</b></th>
      <th><b>Director</b></th>
      <th><b>Rating</b></th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movie_list %}
    <tr>
      <td><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.rated }}</td>
      <td>{{ movie.released_on }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.get_rating_movie }}</td>
      <!-- TODO: Render more movie properties and make sure action links work -->
{#      <td><a href="{% url 'movies:update' movie.pk %}">Edit</a></td>#}
{#      <td><a href="{% url 'movies:delete' movie.pk %}">Delete</a></td>#}
    </tr>
    {% endfor %}
    <tr>
{#      <td colspan="6"><a href="{% url 'movies:create' %}">Add new movie</a></td>#}
    </tr>
  </tbody>
</table>
{% endblock content %}
