{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Movie' %}: {{ movie.title }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
      <h3>{{ object.title }}</h3>
      <p>{{ object.plot }}</p>
    <ul>
        <li>Year: {{ object.year }}</li>
        <li>Rated: {{ object.rated }}</li>
        <li>Released on: {{ object.released_on }}</li>
        <li>Genre: {{ object.genre }}</li>
        <li>Director: {{ object.director }}</li>
        <li>Rating: {{ object.get_rating_movie }}</li>
    </ul>
  </div>
</div>
{% endblock %}
